

.site-banner{
border-top: 8px solid black;
border-bottom: 1px solid black;
padding: 20x 20x 20px 20px;
text-align: center;
backround color: blue;
}

.site-banner img{
	width: 330px;

}

.site-banner h3{
font-family: "Basier", sans-serif;
font-style: strong;
font-size: 14px;
color: #de2f23;
letter-spacing: 1px;
}

.article{
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
}

.story-header{
	font-family: "Basier", sans-serif;
	font-size: 20px;
}

.story-header h1{
	font-size: 46px;
	margin-bottom: 0px;
	font-family: "Courier New;", serif;
	color: white;

}

.byline{
	font-weight: bold;
}

.story-copy{
	font-family:"Times New Roman", serif;
	font-size: 20px;
	align-content: center;
	color: black;
	margin-left: 10%;
	margin-right: 10%;

}

.photo {
	max-width: 80%;
	margin-left: auto;
  margin-right: auto;
	
}

.d-flex {
    display: flex;
    max-width: auto;
    max-height: auto;
    gap: 15px;
    justify-content: center; 
    flex-wrap: nowrap; 
    margin-left: 30%;
	margin-right: 30%;
}

.blacktext h1 {
  color: black;
}

.whitetext h5 {
  color: black;
}


.whitetext story-copy {
  color: black;
}
 
.whitetext caption {
  color: black;
}
 
 .d-flex2 {
    display: flex;
    max-width: auto;
    max-height: auto;
    gap: 20px;
    justify-content: center; 
    flex-wrap: nowrap; 
    margin-left: 20%;
	margin-right: 20%;
}
